[project]
	description = A simple dogecoin mining setup script for Debian based servers
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/TanmayN
[access "refs/for/refs/*"]
	read = group user/TanmayN
	push = group user/TanmayN
	label-Code-Review = -2..+2 group user/TanmayN
	label-Verified = -1..+1 group user/TanmayN
	rebase = group user/TanmayN
	removeReviewer = group user/TanmayN
	submit = group user/TanmayN
[access "refs/heads/*"]
	read = group user/TanmayN
	create = group user/TanmayN
	push = +force group user/TanmayN
	pushMerge = group user/TanmayN
[access "refs/tags/*"]
	push = group user/TanmayN
	push = +force group user/TanmayN
